<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Page</title>
</head>
<body>

<h1>This is the Heading!</h1>
<p>Enter data below:</p>
<form action="/create", method="post" th:object="${formData}">
<p>Full Name: <input type="text" th:field="${formData.fullName}"></p>
<p>Age: <input type="text" th:field="${formData.age}"></p>
<p>Employed <input type="checkbox" th:field="${formData.employed}" th:value="true"></p>
<p>Gender: </p> 
<p>Male<input type="radio" th:field="${formData.gender}" th:value="Male">
	Female<input type="radio" th:field="${formData.gender}" th:value="Female"></p>
	<input type="submit" value="submit"/> <input type="reset" value="reset"/>
</form>

</body>
</html>